.checkout {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  padding: 20px;
  height: max-content;
  max-width: 1500px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.checkout__items {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.checkout__right{
  margin-left: 20px;
}